* {
    box-sizing: border-box;
}

header {
    height: 613px;
    width: 100%;
    float: left;
}

header section {
    height: 35.1rem;
    background: rgb(158 158 158 / 90%);
    /* float: left; */
    width: 118rem;
}

nav {
    display: flex;
    justify-content: space-between;
    /* margin: 7px; */
    width: 116rem;
    height: 3rem;
    /* float: left; */
    padding-left: 5%;
    background: white;
    /* clear: both; */
}

nav button {
    background: black;
    width: 7%;
    height: 31px;
    color: white;

    margin-right: 88px;
}

header img {
    margin-left: 23%;
    margin-top: 1em;
    height: 11em;
    width: 25rem;
    float: left;

}

nav a {
    height: 21px;
    width: 31%;
    margin: 1px 32px;
    color: black;
    font-size: 19px;
    text-decoration: none;
}

nav>button a {
    color: white;

    font-size: 15px;
}

section>div>span {
    font-size: 41px;
    float: left;
    height: 53px;
    width: 85%;
    padding-left: 13px;
    padding-top: 24px;
    margin-left: 67px;
}

section>div:nth-child(3)>p {
    font-size: 1.5em;
    width: 47rem;
    height: 2em;
    padding-left: 4.9rem;
    padding-top: 0.5rem;
    float: left;
    line-height: 2rem;
    margin-left: 0.3em;
}

header section>div {
    float: left;
    width: 55%;
    height: 174px;
    margin: 1px;
}

section div>input#Email {
    float: left;
    width: 30rem;
    height: 3rem;
    padding-left: 0rem;
    margin-left: 5.5em;
    border: 1px solid black;
}

section div>button {
    float: left;
    height: 3rem;
    width: 10rem;
    margin-left: 2%;
    background: #fdfdfd36;
}

section>div:nth-child(3)>span {
    font-size: 2.4em;
    width: 39rem;
    height: 3.6rem;
    padding-left: 1.2rem;
    margin-top: 0.8rem;
}

div:nth-child(3)>button>a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

main>section>div>p {
    float: left;
    width: 26%;
    padding-top: 1%;
    margin: 0.2em 9.7em;
    font-size: 22px;
    height: 46px;

}

div.headerimg {
    float: right;
    width: 45rem;
    height: 35rem;
    /* clear: left; */
}

div.headerimg>img {
    float: left;
    height: 585px;
    width: 550px;
    margin: 0px;
    margin-top: 0px;
    /* clear: left; */
}

body>header>section>div:nth-child(4)>p {
    padding-left: 4.4em;

    font-size: 1.2em;
}

section div>button a {
    color: white;
    text-decoration: none;
    font-size: 23px;
}

body>header>section>div:nth-child(4) {
    width: 55%;
    padding-top: 30px;
    height: 13em;
}

main {
    float: left;
    width: 100%;
    height: 2679px;
}

h2 {
    text-align: center;
    font-size: 2.4em;
    width: 59%;
    height: 6rem;


    padding-left: 1%;
    margin-left: 9em;
}

body>main section {
    height: 27rem;
    float: left;
    width: 118rem;
}

main>section>div {
    float: left;
    width: 100%;
    height: 130px;
    padding-left: 4.9em;
}

p.boston {
    float: left;
    text-align: center;
    font-size: 21px;
    color: gray;
    padding-left: 16%;
    margin-left: 7em;
    width: 70%;
}

main strong {
    border-top: 4px solid pink;
}

article {
    float: left;
    width: 118rem;
    height: 60rem;
    background: lightgray;
}

article>section {
    float: left;
}

section.who {
    float: left;
    height: 53rem;
    width: 118rem;
    background: white;
}

.meetup {
    float: right;
    width: 36%;
    height: 958px;
    margin-right: 3em;
    padding-top: 50px;
}

.meetup img {
    display: list-item;
    width: 42rem;
    height: 25rem;
    margin: 0.5em 0em 1em 0em;
}

article>section:nth-child(3) {
    width: 60%;
    float: left;
    height: 50em;


}

.meetup span {
    padding-left: 19rem;
    color: darkgray;
    font-weight: 600;
}

.history p {
    font-size: 1.6em;

    float: left;
    width: 39em;
    line-height: 2.4rem;

    margin: 0.2rem 8rem;
    padding-left: 5em;
}

h3 {
    float: left;
    font-size: 3em;
    margin-left: 15.8rem;

    margin-bottom: 0.6rem;
}

section.who>div>span {
    width: 46.4%;
    height: 58.4px;
    float: left;
    /* padding: 12px 76px; */
    font-size: 20px;
    border-color: lightgray;
}

section.who>h3 {
    text-align: center;
    font-size: 3.5em;
    width: 76%;
    height: 12rem;

    padding-left: 0rem;
    padding-top: 2rem;
    float: left;
}

.lastsec img {
    width: 17%;
    height: 5.4em;
    padding-top: 3%;
}

.bosslady {
    float: left;
    width: 26rem;
    height: 31rem;
    margin: 2rem 8rem 1rem 5rem;
    border-color: lightgray;
}

section.who div {
    width: 66%;
    height: 473px;
    float: left;
}

div.fish>span {
    height: 20%;
    width: 55%;
    font-size: 29px;
    padding-top: 36px;
    color: lightgray;
    float: left;
    display: block;
    margin-left: -13px;
    margin-top: 8px;
    margin-bottom: 22px;
}

section>div.fish>p {
    width: 82%;
    float: left;
    line-height: 1.6em;
    font-size: 1.4em;
}

section.who>section>div:nth-child(2) {
    width: 50%;
    float: left;
    height: 300px;
}

section.who>section>div.fish {
    width: 48%;
    height: 348px;
    float: left;
    padding-left: 10%;
}

.lastsec>div>p {
    font-size: 1.5em;
    line-height: 1.6em;
    width: 73.2%;
    height: 200px;
}

article>section.who>div>p {
    float: left;
    width: 50%;
}

.who strong {
    width: 57.4%;
    height: 4rem;
    float: left;
    font-size: 2em;
    border-top: 0;
    padding-top: 2rem;
}

.whoborder {
    float: left;
    height: 36em;
    width: 106rem;
    border: 1px solid lightgray;
    margin-left: 4%;
}

.whoborder p {
    font-size: 1.7em;
    line-height: 1.6em;
    width: 61rem;
    height: 28rem;
    float: left;

}

footer {
    float: left;
    background: darkslategray;
    width: 100%;
    height: 425px;
}

footer nav {
    display: flex;
    justify-content: space-between;
    margin: 7px;
    width: 94%;
    height: 40px;
    float: left;
    padding-left: 5%;
    background: lightgray;

    ;
}

.firstdiv {
    float: left;
    width: 118rem;
    height: 100px;
    background: lightblue;
}

.seconddiv {
    float: left;
    width: 100%;
}

.lastdiv {
    float: left;
    width: 100%;
}

.firstdiv span {
    font-size: 2em;
    display: block;
    margin-top: 2rem;
    float: left;
    margin-left: 5rem;
    margin-right: 20rem;
    color: white;
}

.firstdiv input#email {
    float: left;
    height: 46px;
    width: 25em;
    margin-top: 1.2rem;
    margin-left: 35rem;
}

.firstdiv button {
    margin-top: 11px;
    height: 50px;
    width: 182px;
    float: left;
    margin-top: 18px;
    background: darkgray;
    margin-left: 23px;
}

div.firstdiv>button>a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

div.seconddiv span {
    font-size: 1.1em;
    color: white;
    float: left;
    display: block;
    height: 3.65em;
    padding-top: 18px;
    margin-left: 83px;
    width: 62rem;
    border-bottom: 1px solid white;
    padding-bottom: 28px;
}

footer {
    width: 118rem;
    border: 0px solid black;
    background-color: rgb(145, 154, 162);
    float: left;
}

.copyRight {
    width: 100%;
    border: 0px solid black;
    border-bottom: 1px solid white;
    float: left;
    background-color: rgb(145, 154, 162);
    padding: 0;
    clear: both;
}

.copyRight p {
    margin-left: 77px;
    color: white;
    float: left;
}

.copyRight ul li {
    display: inline;
    margin-left: 1%;
    color: white;
}

.copyRight ul li:first-of-type {
    margin-left: 60%;
}

.home {
    width: 15rem;
    border: 0px solid black;
    float: left;
    color: white;
    background-color: rgb(145, 154, 162);
    margin-left: 1%;
}

.home ul {
    margin-left: 38px;
}

.home ul li:first-of-type {
    font-weight: bold;
    font-size: 1em;
}

.home ul li {
    list-style: none;
    line-height: 1.8em;
    font-weight: 300;
}

.program {
    width: 16rem;
    border: 0px solid black;
    float: left;
    color: white;

}

.program ul {
    padding: 0;
}

.program ul li:first-of-type {
    font-weight: bold;
    font-size: 1em;
}

.program ul li {


    list-style: none;
    line-height: 1.8em;
    font-weight: 300;
}

.jwl {
    width: 9rem;
    border: 0px solid black;
    float: left;
    color: white;


}

.jwl ul {
    padding: 0;
}

.jwl ul li:first-of-type {
    font-weight: bold;
    font-size: 1em;
}

.jwl ul li {


    list-style: none;
    line-height: 1.8em;
    font-weight: 300;
}

.fellow {
    width: 50%;
    float: left;
    color: white;
    margin-left: 6rem;
    padding-left: 11rem;
}

.fellow ul li {
    display: inline;
    padding-right: 5.8em;
    font-size: 1.26em;
}

.fellow ul {

    width: 51rem;
    padding-left: 0%;
    margin: 19px 0px;
}

.fellow ul li:last-of-type {
    margin-right: 50px;
}

ul.firstlink {
    width: 35.4%;
    height: 3rem;
    float: left;
    border-bottom: 1px solid white;
    padding-left: 10rem;
}

div.seconddiv>ul>li a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

footer>div.seconddiv>ul>li {
    display: inline;
    padding-right: 6rem;
    font-size: 1.23em;


}

footer a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 850px) and (max-device-width: 1553px) {
    * {
        box-sizing: border-box;

    }

    header {
        height: 38rem;
        width: 114rem;
        float: left;
    }

    header section {
        height: 35.2rem;
        background: rgb(158 158 158 / 90%);
        /* float: left; */
        width: 146rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        /* margin: 7px; */
        width: 146rem;
        height: 40px;
        /* float: left; */
        padding-left: 0%;
        background: white;
        /* clear: both; */
    }

    nav button {
        background: black;
        width: 7%;
        height: 31px;
        color: white;


    }

    header img {
        margin-left: 23%;
        margin-top: 1em;
        height: 11em;
        width: 37%;
        float: left;

    }

    nav a {
        height: 3rem;
        width: 11rem;
        margin: 1px 32px;
        color: black;
        font-size: 1.6em;
        text-decoration: none;
    }

    nav>button a {
        color: white;

        font-size: 15px;
    }

    section>div>span {
        font-size: 41px;
        float: left;
        height: 53px;
        width: 85%;
        padding-left: 13px;
        padding-top: 24px;
        margin-left: 67px;
    }

    section>div:nth-child(3)>p {
        font-size: 2em;
        width: 57rem;
        height: 2em;
        padding-left: 4.5rem;
        padding-top: 0.5rem;
        float: left;
        line-height: 2rem;
        margin-left: 0.3em;
    }

    header section>div {
        float: left;
        width: 55%;
        height: 174px;
        margin: 1px;
    }

    section div>input#Email {
        float: left;
        width: 32rem;
        font-size: 1.5em;
        height: 3rem;
        padding-left: 0rem;
        margin-left: 3.5em;
        border: 1px solid black;
    }

    section div>button {
        float: left;
        height: 46px;
        width: 20%;
        margin-left: 2%;
        background: #fdfdfd36;
    }

    section>div:nth-child(3)>span {
        font-size: 3.4em;
        width: 57rem;
        height: 3.6rem;
        padding-left: 1rem;
        margin-top: 0.8rem;
    }

    div:nth-child(3)>button>a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    main>section>div>p {
        float: left;
        width: 51rem;
        padding-top: 1%;
        margin: 0.2em 3.7em;
        font-size: 2em;
        height: 46px;

    }

    div.headerimg {
        float: right;
        width: 42.2%;
        height: 294px;
        /* clear: left; */
    }

    div.headerimg>img {
        float: left;
        height: 36.5rem;
        width: 550px;
        margin: 0px;
        margin-top: 0px;
        /* clear: left; */
    }

    body>header>section>div:nth-child(4)>p {
        padding-left: 3.4em;

        font-size: 1.5em;
    }

    section div>button a {
        color: white;
        text-decoration: none;
        font-size: 23px;
    }

    body>header>section>div:nth-child(4) {
        width: 55%;
        padding-top: 30px;
        height: 13em;
    }

    main {
        float: left;
        width: 100%;
        height: 2679px;
    }

    h2 {
        text-align: center;
        font-size: 2.4em;
        width: 100rem;
        height: 6rem;


        padding-left: 1%;
        margin-left: 9em;
    }

    body>main section {
        height: 26rem;
        float: left;
        width: 146rem;
    }

    main>section>div {
        float: left;
        width: 142rem;
        height: 9rem;
        padding-left: 9.9em;
    }

    p.boston {
        float: left;
        text-align: center;
        font-size: 1.7em;
        color: gray;
        padding-left: 8rem;
        margin-left: 13em;
        width: 88rem;
    }

    main strong {
        border-top: 4px solid pink;
    }

    article {
        float: left;
        width: 146rem;
        height: 141rem;
        background: lightgray;
    }

    article>section {
        float: left;
    }

    section.who {
        float: left;
        height: 81rem;
        width: 146rem;
        background: white;
    }

    .meetup {
        float: right;
        width: 50rem;
        height: 958px;
        margin-right: 3em;
        padding-top: 50px;
    }

    .meetup img {
        display: list-item;
        width: 41rem;
        height: 24rem;
        margin: 2.5em 0em 1em -2em;
    }

    article>section:nth-child(3) {
        width: 57rem;
        float: left;
        height: 56em;


        margin-left: 6rem;
    }

    .meetup span {
        padding-left: 14rem;
        color: darkgray;
        font-weight: 600;
        font-size: 1.4em;
    }

    .history p {
        font-size: 1.9em;

        float: left;
        width: 34em;
        line-height: 2.2rem;

        margin: 0.2rem 0rem;
        padding-left: 5em;
    }

    h3 {
        float: left;
        font-size: 3em;
        margin-left: 15rem;

        margin-bottom: 0.6rem;
        margin-top: 2rem;
        margin-right: 16rem;
    }

    section.who>div>span {
        width: 46.4%;
        height: 58.4px;
        float: left;
        /* padding: 12px 76px; */
        font-size: 20px;
        border-color: lightgray;
    }

    section.who>h3 {
        text-align: center;
        font-size: 3.5em;
        width: 110rem;
        height: 12rem;

        padding-left: 0rem;
        padding-top: 2rem;
        float: left;
    }

    .lastsec img {
        width: 17%;
        height: 5.4em;
        padding-top: 3%;
    }

    .bosslady {
        float: left;
        width: 26%;
        height: 31rem;
        margin: 2rem 8rem 1rem 5rem;
        border-color: lightgray;
    }

    section.who div {
        width: 66%;
        height: 473px;
        float: left;
    }

    div.fish>span {
        height: 5rem;
        width: 33rem;
        font-size: 29px;
        padding-top: 36px;
        color: lightgray;
        float: left;
        display: block;
        margin-left: -13px;
        margin-top: 8px;
        margin-bottom: 22px;
    }

    section>div.fish>p {
        width: 49rem;
        float: left;
        line-height: 1.6em;
        font-size: 1.8em;
    }

    section.who>section>div:nth-child(2) {
        width: 62rem;
        float: left;
        height: 29rem;
    }

    section.who>section>div.fish {
        width: 48%;
        height: 29rem;
        float: left;
        padding-left: 10%;
    }

    .lastsec>div>p {
        font-size: 1.8em;
        line-height: 1.6em;
        width: 48rem;
        height: 22rem;
    }

    article>section.who>div>p {
        float: left;
        width: 50%;
    }

    .who strong {
        width: 25rem;
        height: 58.4px;
        float: left;
        font-size: 2em;
        border-top: 0;
        padding-top: 2rem;
    }

    .whoborder {
        float: left;
        height: 36rem;
        width: 126rem;
        border: 1px solid lightgray;
        margin-left: 4%;
    }

    .whoborder p {
        font-size: 2em;
        line-height: 1.2em;
        width: 60rem;
        height: 28rem;
        float: left;

    }

    footer {
        float: left;
        background: darkslategray;
        width: 100%;
        height: 24rem;
    }

    footer nav {
        display: flex;
        justify-content: space-between;
        margin: 7px;
        width: 94%;
        height: 40px;
        float: left;
        padding-left: 5%;
        background: lightgray;

        ;
    }

    .firstdiv {
        float: left;
        width: 146rem;
        height: 5rem;
        background: lightblue;
    }

    .seconddiv {
        float: left;
        width: 100%;
    }

    .lastdiv {
        float: left;
        width: 100%;
    }

    .firstdiv span {
        font-size: 2em;
        display: block;
        margin-top: 1.5rem;
        float: left;
        margin-left: 5rem;
        margin-right: 20rem;
        color: white;
    }

    .firstdiv input#email {
        float: left;
        height: 3rem;
        font-size: 2em;
        width: 14em;
        margin-top: 1.2rem;
        margin-left: 55rem;
    }

    .firstdiv button {
        margin-top: 11px;
        height: 50px;
        width: 182px;
        float: left;
        margin-top: 18px;
        background: darkgray;
        margin-left: 23px;
    }

    div.firstdiv>button>a {
        color: white;
        text-decoration: none;
        font-size: 24px;
    }

    div.seconddiv span {
        font-size: 1.3em;
        color: white;
        float: left;
        display: block;
        height: 3.1em;
        padding-top: 18px;
        margin-left: 83px;
        width: 82rem;
        border-bottom: 1px solid white;
        padding-bottom: 28px;
    }

    footer {
        width: 146rem;
        border: 0px solid black;
        background-color: rgb(145, 154, 162);
        float: left;
    }

    .copyRight {
        width: 100%;
        border: 0px solid black;
        border-bottom: 1px solid white;
        float: left;
        background-color: rgb(145, 154, 162);
        padding: 0;
        clear: both;
    }

    .copyRight p {
        margin-left: 77px;
        color: white;
        float: left;
    }

    .copyRight ul li {
        display: inline;
        margin-left: 1%;
        color: white;
    }

    .copyRight ul li:first-of-type {
        margin-left: 60%;
    }

    .home {
        width: 20rem;
        height: 12rem;
        border: 0px solid black;
        float: left;
        color: white;
        background-color: rgb(145, 154, 162);
        margin-left: 1%;
    }

    .home ul {
        margin-left: 38px;
    }

    .home ul li:first-of-type {
        font-weight: bold;
        font-size: 1em;
    }

    .home ul li {
        list-style: none;
        line-height: 1.8em;
        font-weight: 300;
    }

    .program {
        width: 18rem;
        border: 0px solid black;
        float: left;
        color: white;

    }

    .program ul {
        padding: 0;
    }

    .program ul li:first-of-type {
        font-weight: bold;
        font-size: 1em;
    }

    .program ul li {


        list-style: none;
        line-height: 1.8em;
        font-weight: 300;
    }

    .jwl {
        width: 13rem;
        border: 0px solid black;
        float: left;
        color: white;


    }

    .jwl ul {
        padding: 0;
    }

    .jwl ul li:first-of-type {
        font-weight: bold;
        font-size: 1em;
    }

    .jwl ul li {


        list-style: none;
        line-height: 1.8em;
        font-weight: 300;
    }

    .fellow {


        float: left;
        color: white;


        margin-left: 13rem;
        padding-left: 4rem;
        width: 12rem;
    }

    .fellow ul li {
        display: inline;
        padding-right: 5.8em;
        font-size: 1.26em;
    }

    .fellow ul {

        width: 55rem;
        padding-left: 0%;
        margin: 19px 0px;
    }

    .fellow ul li:last-of-type {
        margin-right: 50px;
    }

    ul.firstlink {
        width: 35.4%;
        height: 3rem;
        float: left;
        border-bottom: 1px solid white;
        padding-left: 2rem;
    }

    div.seconddiv>ul>li a {
        color: white;
        text-decoration: none;
        font-size: 1.2em;
    }

    footer>div.seconddiv>ul>li {
        display: inline;
        padding-right: 6rem;
        font-size: 1.23em;


    }

    footer a {
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }
}

@media screen and (min-width: 395px) and (max-device-width: 820px) {

    * {
        box-sizing: border-box;

    }

    header {
        height: 613px;
        width: 100%;
        float: left;
    }

    header section {
        height: 33rem;
        background: rgb(158 158 158 / 90%);
        /* float: left; */
        width: 51rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        /* margin: 7px; */
        width: 48rem;
        height: 2rem;
        /* float: left; */
        padding-left: 5%;
        background: white;
        /* clear: both; */
    }

    nav button {
        background: black;
        width: 15%;
        height: 24px;
        color: white;

        margin-right: -20px;
    }

    header img {
        margin-left: 53%;
        margin-top: 1em;
        height: 11rem;
        width: 25rem;
        float: left;

    }

    nav a {
        height: 15px;
        width: 29%;
        margin: 0px 8px;
        color: black;
        font-size: 1.1em;
        text-decoration: none;
    }

    nav>button a {
        color: white;

        font-size: 15px;
    }

    section>div>span {
        font-size: 41px;
        float: left;
        height: 53px;
        width: 85%;
        padding-left: 13px;
        padding-top: 24px;
        margin-left: 67px;
    }

    section>div:nth-child(3)>p {
        font-size: 1.5em;
        width: 39rem;
        height: 2em;
        padding-left: 2.9rem;
        padding-top: 0.5rem;
        float: left;
        line-height: 2rem;
        margin-left: 0.3em;
    }

    header section>div {
        float: left;
        width: 55%;
        height: 174px;
        margin: 1px;
    }

    section div>input#Email {
        float: left;
        width: 29rem;
        height: 3rem;
        padding-left: 0rem;
        margin-left: 4em;
        border: 1px solid black;
    }

    section div>button {
        float: left;
        height: 3rem;
        width: 20%;
        margin-left: 2%;
        background: #fdfdfd36;
    }

    section>div:nth-child(3)>span {
        font-size: 2.3em;
        width: 40rem;
        height: 3.6rem;
        padding-left: 2rem;
        margin-left: 1.3rem;
        margin-top: 0.8rem;
    }

    div:nth-child(3)>button>a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    main>section>div>p {
        float: left;
        width: 24.7rem;
        padding-top: 1%;
        margin: 0.2em 0.7em;
        font-size: 1em;
        height: 4rem;

        margin-left: 0rem;
        padding-left: 0rem;
    }

    div.headerimg {
        float: right;
        width: 42.2%;
        height: 294px;
        /* clear: left; */
    }

    div.headerimg>img {
        float: left;
        height: 585px;
        width: 550px;
        margin: 0px;
        margin-top: 0px;
        display: none;
        /* clear: left; */
    }

    body>header>section>div:nth-child(4)>p {
        padding-left: 2.5em;

        font-size: 1.3em;
        width: 43rem;
    }

    section div>button a {
        color: white;
        text-decoration: none;
        font-size: 23px;
    }

    body>header>section>div:nth-child(4) {
        width: 47rem;
        padding-top: 30px;
        height: 13em;
    }

    main {
        float: left;
        width: 100%;
        height: 2679px;
    }

    h2 {
        text-align: center;
        font-size: 1.8em;
        width: 50rem;
        height: 5rem;


        padding-left: 0%;
        margin-left: 0em;
    }

    body>main section {
        height: 423px;
        float: left;
        width: 100%;
    }

    main>section>div {
        float: left;
        width: 51rem;
        height: 130px;
        padding-left: 0em;
    }

    p.boston {
        float: left;
        text-align: center;
        font-size: 1.2em;
        color: gray;
        padding-left: 0%;
        margin-left: 2em;
        width: 44rem;
    }

    main strong {
        border-top: 4px solid pink;
    }

    article {
        float: left;
        height: 60rem;
        width: 51rem;
        background: lightgray;
    }

    article>section {
        float: left;
    }

    section.who {
        float: left;
        height: 1063px;
        width: 100%;
        background: white;
    }

    .meetup {
        float: right;
        width: 36%;
        height: 958px;
        margin-right: 0px;
        padding-top: 5rem;
    }

    .meetup img {
        display: list-item;
        width: 93%;
        height: 22rem;
        margin: 0.5em 1em 1em 0em;
    }

    article>section:nth-child(3) {
        width: 60%;
        float: left;
        height: 50em;


    }

    .meetup span {
        padding-left: 5rem;
        color: darkgray;
        font-weight: 600;
    }

    .history p {
        font-size: 1.1em;

        float: left;
        width: 25em;
        line-height: 1.8rem;

        margin: 0.2rem 1rem;
        padding-left: 0em;
    }

    h3 {
        float: left;
        font-size: 3em;
        margin-left: 0.8rem;

        margin-bottom: 0.6rem;
    }

    section.who>div>span {
        width: 46.4%;
        height: 58.4px;
        float: left;
        /* padding: 12px 76px; */
        font-size: 20px;
        border-color: lightgray;
    }

    section.who>h3 {
        text-align: center;
        font-size: 3.5em;
        width: 40rem;
        height: 9rem;

        padding-left: 10rem;
        padding-top: 2rem;
        float: left;
    }

    .lastsec img {
        width: 9rem;
        height: 5.4em;
        padding-top: 11%;
    }

    .bosslady {
        float: left;
        width: 16rem;
        height: 31rem;
        margin: 2rem 3rem 1rem 1rem;
        border-color: lightgray;
    }

    section.who div {
        width: 66%;
        height: 473px;
        float: left;
    }

    div.fish>span {
        height: 4rem;
        width: 17rem;
        font-size: 1.5em;
        padding-top: 36px;
        color: lightgray;
        float: left;
        display: block;
        margin-left: -14px;
        margin-top: 8px;
        margin-bottom: 22px;
    }

    section>div.fish>p {
        width: 21rem;
        float: left;
        line-height: 1.6em;
        font-size: 1.1em;
    }

    section.who>section>div:nth-child(2) {
        width: 26rem;
        float: left;
        height: 30rem;
    }

    section.who>section>div.fish {
        width: 48%;
        height: 27rem;
        float: left;
        padding-left: 4%;
    }

    .lastsec>div>p {
        font-size: 1.1em;
        line-height: 1.6em;
        width: 21rem;
        height: 21rem;
    }

    article>section.who>div>p {
        float: left;
        width: 50%;
    }

    .who strong {
        width: 26rem;
        height: 58.4px;
        float: left;
        font-size: 2em;
        border-top: 0;
        padding-top: 2rem;
    }

    .whoborder {
        float: left;
        height: 36em;
        width: 48rem;
        border: 1px solid lightgray;
        margin-left: 2%;
    }

    .whoborder p {
        font-size: 1.13em;
        line-height: 1.6em;
        width: 27rem;
        height: 28rem;
        float: left;

    }

    footer {
        float: left;
        background: darkslategray;
        width: 100%;
        height: 425px;
    }

    footer nav {
        display: flex;
        justify-content: space-between;
        margin: 7px;
        width: 94%;
        height: 40px;
        float: left;
        padding-left: 5%;
        background: lightgray;

        ;
    }

    .firstdiv {
        float: left;
        width: 51rem;
        height: 100px;
        background: lightblue;
    }

    .seconddiv {
        float: left;
        width: 100%;
    }

    .lastdiv {
        float: left;
        width: 100%;
    }

    .firstdiv span {
        font-size: 1.5em;
        display: block;
        margin-top: 2rem;
        float: left;
        margin-left: 1rem;
        margin-right: 7rem;
        color: white;
    }

    .firstdiv input#email {
        float: left;
        height: 2rem;
        width: 16em;
        margin-top: 2rem;
        margin-left: 0rem;
    }

    .firstdiv button {

        height: 2rem;
        width: 8rem;
        float: left;
        margin-top: 32px;
        background: darkgray;
        margin-left: 23px;
    }

    div.firstdiv>button>a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
    }

    div.seconddiv span {
        font-size: 1.1em;
        color: white;
        float: left;
        display: block;
        height: 3.99rem;
        padding-top: 18px;
        margin-left: 11px;
        width: 27rem;
        border-bottom: 1px solid white;
        padding-bottom: 28px;
    }

    footer {
        width: 51em;
        border: 0px solid black;
        background-color: rgb(145, 154, 162);
        float: left;
    }

    .copyRight {
        width: 100%;
        border: 0px solid black;
        border-bottom: 1px solid white;
        float: left;
        background-color: rgb(145, 154, 162);
        padding: 0;
        clear: both;
    }

    .copyRight p {
        margin-left: 77px;
        color: white;
        float: left;
    }

    .copyRight ul li {
        display: inline;
        margin-left: 1%;
        color: white;
    }

    .copyRight ul li:first-of-type {
        margin-left: 60%;
    }

    .home {
        width: 9rem;
        border: 0px solid black;
        float: left;
        color: white;
        background-color: rgb(145, 154, 162);
        margin-left: 0%;
        margin-top: 1em;
    }

    .home ul {
        margin-left: 0px;
    }

    .home ul li:first-of-type {
        font-weight: bold;
        font-size: 1em;
    }

    .home ul li {
        list-style: none;
        line-height: 1.8em;
        font-weight: 300;
    }

    .program {
        width: 10rem;
        border: 0px solid black;
        float: left;
        color: white;

        margin-top: 1em;
    }

    .program ul {
        padding: 0;
    }

    .program ul li:first-of-type {
        font-weight: bold;
        font-size: 1em;
    }

    .program ul li {


        list-style: none;
        line-height: 1.8em;
        font-weight: 300;
    }

    .jwl {
        width: 8rem;
        border: 0px solid black;
        float: left;
        color: white;


        margin-top: 1em;
    }

    .jwl ul {
        padding: 0;
    }

    .jwl ul li:first-of-type {
        font-weight: bold;
        font-size: 1em;
    }

    .jwl ul li {


        list-style: none;
        line-height: 1.8em;
        font-weight: 300;
    }

    .fellow {
        width: 23rem;

        float: left;
        color: white;


        margin-left: 0rem;
        padding-left: 0rem;
    }

    .fellow ul li {
        display: inline;
        padding-right: 0.9em;
        font-size: 1.26em;
    }

    .fellow ul {

        width: 100%;
        padding-left: 0%;
        margin: 2em 14px;
    }

    .fellow ul li:last-of-type {
        margin-right: 50px;
    }

    ul.firstlink {
        width: 21rem;
        height: 3rem;
        float: left;
        border-bottom: 1px solid white;
        padding-left: 5rem;
    }

    div.seconddiv>ul>li a {
        color: white;
        text-decoration: none;
        font-size: 0.9em;
    }

    footer>div.seconddiv>ul>li {
        display: inline;
        padding-right: 0.8rem;
        font-size: 1.23em;


    }

    footer a {
        color: white;
        text-decoration: none;
    }
}

@media screen and (min-width: 300px) and (max-width: 390px) and (max-device-width: 390px) {
    * {
        box-sizing: border-box;


    }

    header {
        height: 38rem;
        width: 45.3rem;
        float: left;
    }

    header section {
        height: 564px;
        background: rgb(158 158 158 / 90%);
        /* float: left; */
        width: 46rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        /* margin: 7px; */
        width: 45rem;
        height: 40px;
        /* float: right; */
        padding-left: 0%;
        background: white;
        /* clear: both; */
    }

    nav button {
        background: black;
        width: 9%;
        height: 31px;
        color: white;


        margin: 0em;
    }

    header img {
        margin-left: 22%;
        margin-top: 1em;
        height: 12em;
        width: 33rem;
        float: left;

    }

    nav a {
        height: 23px;
        width: 99%;
        margin: 0px 0px;
        color: black;
        font-size: 1.1em;
        text-decoration: none;
    }

    nav>button a {
        color: white;

        font-size: 15px;
    }

    section>div>span {
        font-size: 41px;
        float: left;
        height: 53px;
        width: 85%;
        padding-left: 13px;
        padding-top: 24px;
        margin-left: 67px;
    }

    section>div:nth-child(3)>p {
        font-size: 1.6em;
        width: 37rem;
        height: 2em;
        padding-left: 0rem;
        padding-top: 0.5rem;
        float: left;
        line-height: 2rem;
        margin-left: 0.3em;
    }

    header section>div {
        float: left;
        width: 55%;
        height: 174px;
        margin: 1px;
    }

    section div>input#Email {
        float: left;
        width: 75%;
        height: 3rem;
        padding-left: 0rem;
        margin-left: 0em;
        border: 1px solid black;
    }

    section div>button {
        float: left;
        height: 46px;
        width: 20%;
        margin-left: 2%;
        background: #fdfdfd36;
    }

    section>div:nth-child(3)>span {
        font-size: 2.5em;
        width: 41rem;
        height: 3.6rem;
        padding-left: 0rem;
        margin-top: 0.8rem;
        margin-left: 0.4rem;
    }

    div:nth-child(3)>button>a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    main>section>div>p {
        float: left;
        width: 22rem;
        padding-top: 1%;
        margin: 0.2em 0em;
        font-size: 1em;
        height: 5rem;

    }

    div.headerimg {
        float: right;
        width: 0;
        height: 0;
        /* clear: left; */
    }

    div.headerimg>img {
        float: left;
        height: 585px;
        width: 550px;
        margin: 0px;
        margin-top: 0px;
        display: none;
        /* clear: left; */
    }

    body>header>section>div:nth-child(4)>p {
        padding-left: 0em;

        font-size: 1.2em;
        width: 37rem;
    }

    section div>button a {
        color: white;
        text-decoration: none;
        font-size: 23px;
    }

    body>header>section>div:nth-child(4) {
        width: 100%;
        padding-top: 30px;
        height: 10em;
    }

    main {
        float: left;
        width: 46rem;
        height: 168rem;
    }

    h2 {
        text-align: center;
        font-size: 1.4em;
        width: 36rem;
        height: 4rem;


        padding-left: 0%;
        margin-left: 2.5em;
    }

    body>main section {
        height: 19rem;
        float: left;
        width: 45.7rem;
    }

    main>section>div {
        float: left;
        width: 100%;
        height: 5rem;
        padding-left: 0.5em;
    }

    p.boston {
        float: left;
        text-align: center;
        font-size: 1.2em;
        color: gray;
        padding-left: 1%;
        margin-left: 1em;
        width: 42rem;
    }

    main strong {
        border-top: 4px solid pink;
    }

    article {
        float: left;
        height: 57rem;
        width: 45.7rem;
        background: lightgray;
    }

    article>section {
        float: left;
    }

    section.who {
        float: left;
        height: 1063px;
        width: 100%;
        background: white;
    }

    .meetup {
        float: right;
        width: 38%;
        height: 958px;
        margin-right: 1em;
        padding-top: 50px;
        display: none;
    }

    .meetup img {
        display: none;



    }

    article>section:nth-child(3) {
        width: 60%;
        float: left;
        height: 50em;


    }

    .meetup span {
        padding-left: 1rem;
        color: darkgray;
        font-weight: 600;
    }

    .history p {
        font-size: 1.3em;

        float: left;
        width: 44rem;
        line-height: 2.4rem;

        margin: 0.2rem 0rem;
        padding-left: 0em;
    }

    h3 {
        float: left;
        font-size: 3em;
        margin-left: 0rem;

        margin-right: 3rem;
        margin-bottom: 0.6rem;
        margin-top: 1rem;
        width: 16rem;
    }

    section.who>div>span {
        width: 46.4%;
        height: 58.4px;
        float: left;
        /* padding: 12px 76px; */
        font-size: 20px;
        border-color: lightgray;
    }

    section.who>h3 {
        text-align: center;
        font-size: 3.5em;
        width: 76%;
        height: 177px;

        padding-left: 7rem;
        padding-top: 2rem;
        float: left;
    }

    .lastsec img {
        width: 16rem;
        height: 6.4rem;
        margin-top: 1rem;
        padding-top: 1.5rem;
    }

    .bosslady {
        float: left;
        width: 26%;
        height: 31rem;
        margin: 2rem 8rem 1rem 5rem;
        border-color: lightgray;
        display: none;
    }

    section.who div {
        width: 66%;
        height: 473px;
        float: left;
    }

    div.fish>span {
        height: 5rem;
        width: 16rem;
        font-size: 2em;
        padding: 0;
        padding-top: 36px;
        color: lightgray;
        float: left;
        display: block;
        margin-left: -0;
        margin-top: 8px;
        margin-bottom: 22px;
    }

    section>div.fish>p {
        width: 82%;
        float: left;
        line-height: 1.4em;
        font-size: 1.5em;
    }

    section.who>section>div:nth-child(2) {
        width: 50%;
        float: left;
        height: 300px;
    }

    section.who>section>div.fish {
        width: 48%;
        height: 348px;
        float: left;
        padding-left: 0%;
    }

    .lastsec>div>p {
        font-size: 1.5em;
        line-height: 1.5em;
        width: 19rem;
        height: 200px;
        margin-top: 1rem;
    }

    article>section.who>div>p {
        float: left;
        width: 50%;
    }

    .who strong {
        width: 37rem;
        height: 58.4px;
        float: left;
        font-size: 2.8em;
        border-top: 0;
        margin-left: 1.5rem;
        margin-bottom: 1rem;
        padding-top: 2rem;
    }

    .whoborder {
        float: left;
        height: 36rem;
        width: 45.5rem;
        border: 1px solid lightgray;
        margin-left: 0%;
    }

    .whoborder p {
        font-size: 1.5em;
        line-height: 1.6em;
        width: 45rem;
        height: 28rem;
        float: left;

        margin-left: 0.5rem;
    }

    footer {
        float: left;
        background: darkslategray;
        width: 100%;
        height: 425px;
    }

    footer nav {
        display: flex;
        justify-content: space-between;
        margin: 7px;
        width: 94%;
        height: 40px;
        float: left;
        padding-left: 5%;
        background: lightgray;

        ;
    }

    .firstdiv {
        float: left;
        width: 46rem;
        height: 3rem;
        background: lightblue;
    }

    .seconddiv {
        float: left;
        width: 100%;
        height: 5rem;
    }

    .lastdiv {
        float: left;
        width: 100%;
    }

    .firstdiv span {
        font-size: 1.3em;
        display: block;
        margin-top: 0.7rem;
        float: left;
        margin-left: 0rem;
        margin-right: 0rem;
        color: white;
        width: 27rem;
    }

    .firstdiv input#email {
        float: left;
        height: 1.5rem;
        width: 14em;
        margin-top: 0.8rem;
        margin-left: 0rem;
    }

    .firstdiv button {

        height: 1.9rem;
        width: 5rem;
        float: left;
        margin-top: 0.6rem;
        background: darkgray;
        margin-left: 1px;
    }

    div.firstdiv>button>a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
    }

    div.seconddiv span {
        font-size: 0.8em;
        color: white;
        float: left;
        display: block;
        height: 2.65em;
        margin-left: 0rem;
        padding-top: 1.1rem;

        width: 28.6rem;
        border-bottom: 1px solid white;
        padding-bottom: 2.5rem;
    }

    footer {
        width: 46rem;
        border: 0px solid black;
        background-color: rgb(145, 154, 162);
        float: left;
        height: 21rem;
    }

    .copyRight {
        width: 100%;
        border: 0px solid black;
        border-bottom: 1px solid white;
        float: left;
        background-color: rgb(145, 154, 162);
        padding: 0;
        clear: both;
    }

    .copyRight p {
        margin-left: 77px;
        color: white;
        float: left;
    }

    .copyRight ul li {
        display: inline;
        margin-left: 1%;
        color: white;
    }

    .copyRight ul li:first-of-type {
        margin-left: 60%;
    }

    .home {
        width: 9.8rem;
        border: 0px solid black;
        float: left;
        color: white;
        background-color: rgb(145, 154, 162);
        margin-left: 1%;
    }

    .home ul {
        margin-left: 0rem;
        padding-left: 0rem;
    }

    .home ul li:first-of-type {
        font-weight: bold;
        font-size: 1em;
    }

    .home ul li {
        list-style: none;
        line-height: 1.8em;
        font-weight: 300;
    }

    .program {
        width: 13rem;
        border: 0px solid black;
        float: left;
        color: white;

    }

    .program ul {
        padding: 0;
    }

    .program ul li:first-of-type {
        font-weight: bold;
        font-size: 1em;
    }

    .program ul li {


        list-style: none;
        line-height: 1.8em;
        font-weight: 300;
    }

    .jwl {
        width: 10rem;
        border: 0px solid black;
        float: left;
        color: white;


    }

    .jwl ul {
        padding: 0;
    }

    .jwl ul li:first-of-type {
        font-weight: bold;
        font-size: 1em;
    }

    .jwl ul li {


        list-style: none;
        line-height: 1.8em;
        font-weight: 300;
        width: 8rem;
        margin: 0px;
    }

    .fellow {
        width: 11rem;

        float: left;
        color: white;


        margin-left: 1rem;
        padding-left: 0rem;
        justify-content: center;
        flex-direction: column;
        align-content: stretch;
        align-items: center;
    }

    .fellow ul li {
        display: inline;
        padding-right: 4.8em;
        font-size: 1.26em;
    }

    .fellow ul {

        width: 100%;
        padding-left: 0%;
        margin: 19px 0px;
    }

    .fellow ul li:last-of-type {
        margin-right: 0px;
    }

    ul.firstlink {
        width: 17rem;
        height: 3rem;
        float: left;
        border-bottom: 1px solid white;
        padding-left: 3rem;
        margin-top: 0.66rem;
    }

    div.seconddiv>ul>li a {
        color: white;
        text-decoration: none;
        font-size: 0.705em;
    }

    footer>div.seconddiv>ul>li {
        display: inline;
        padding-right: 1rem;
        font-size: 1.23em;


    }

    footer a {
        color: white;
        text-decoration: none;
    }
}